body{
    font-family: Arial;
    background:#f1f2f6;
    margin:0;
}

/* Header */
.header{
    background:#2f3542;
    color:white;
    padding:15px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.title{
    font-size:22px;
    font-weight:bold;
}

.danger{
    color:#ff6b6b;
}

/* Profile */
.profile-container{
    background:white;
    width:700px;
    margin:40px auto;
    padding:20px;
    display:flex;
    gap:20px;
    border-radius:8px;
}

.profile-img img{
    width:150px;
    height:150px;
    border-radius:50%;
}

.profile-info input, textarea{
    width:100%;
    padding:8px;
    margin-bottom:8px;
}
